<!doctype html>
<html class="no-js" lang="en">
<head>
    <link href="{{ 'style.min.css' | style }}" type="text/css" rel="stylesheet"/>
</head>
<body>

    <p>LAYOUT</p>

    {% block content %}{% endblock %}
    
</body>
</html>