
<div class="block clear-all">
  <p><code>&lt;div class=&quot;block&quot;&gt;</code> Morbi accumsan pharetra neque a molestie. Mauris nulla arcu, euismod vel faucibus nec, tristique nec eros. Nulla vulputate, nisl blandit varius auctor, ante diam fermentum ipsum, sit amet tincidunt sem libero et velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <code>&lt;/div&gt;</code></p>
</div>

<div class="block c6 clear-all">
  <p><code>&lt;div class=&quot;block c6&quot;&gt;</code> Morbi accumsan pharetra neque a molestie. Mauris nulla arcu, euismod vel faucibus nec, tristique nec eros. <code>&lt;/div&gt;</code></p>
</div>
<div class="block c6">
  <p><code>&lt;div class=&quot;block c6&quot;&gt;</code> Morbi accumsan pharetra neque a molestie. Mauris nulla arcu, euismod vel faucibus nec, tristique nec eros. <code>&lt;/div&gt;</code></p>
</div>
