<a id="stylenav" href="#navigation-style"></a>
<nav id="navigation-style" role="navigation">
  <div id="stylenav-inner">
    <ul>
    {% for root in stylenav.stylenav %}
      <li>
        {% if root.id == id %}<span>{{ root.name }}</span>{% else %}<a href="{{ root.url|link }}">{{ root.name }}</a>{% endif %}
        
        {% if root.children %}
          <ul>
          {% for level1 in root.children %}
            {# Replace with this if you want to initially hide level 1 items #}
            {# <li class="{% if level1.id == exp1 or level1.id == id %} current{% endif %}"> #}
            <li id="stylenav-{{ level1.id }}" class="stylenav-level1">
              {% if level1.id == id or not level1.url %}
                <span{% if not level1.url %} class="style-label"{% endif %}>{{ level1.name }}</span>
              {% else %}
                <p>{{level1.url}}</p>
                <a href="{{ level1.url }}"{% if level1.id == exp1 %}class="current"{% endif %}>{{ level1.name }}</a>
              {% endif %}
              {% if level1.children %}<em></em>{% endif %}
              {% if level1.children %}
              <ul>
                {% for level2 in level1.children %}
                  <li class="{% if level2.id == exp2 or level2.id == id %} current{% endif %}">
                    {% if level2.id == id  or not level2.url %}<span{% if not level2.url %} class="style-label"{% endif %}>{{ level2.name }}</span>{% else %}<a href="{{ level2.url|link }}"{% if level2.id == exp2 %}class="current"{% endif %}>{{ level2.name }}</a>{% endif %}{% if level2.children %}<em></em>{% endif %}
                    {% if level2.children %}
                    <ul>
                      {% for level3 in level2.children %}
                      <li class="{% if level3.id == exp3 or level3.id == id %} current{% endif %}">
                        {% if level3.id == id or not level3.url %}<span{% if not level3.url %} class="style-label"{% endif %}>{{ level3.name }}</span>{% else %}<a href="{{ level3.url|link }}"{% if level3.id == exp3 %}class="current"{% endif %}>{{ level3.name }}</a>{% endif %}{% if level3.children %}<em></em>{% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      </li>
    </ul>
  </div>
</nav>