---
id: "style_layout_chain"
name: "Responsive behaviour chaining"
---

{% extends "_layouts/framework.njk" %}


{% block content %}

<h1>{{ name }}</h1>


<div class="row">

    <h2>Example</h2>
    <p>You have 8 containers that you want to stack for XS, but then show in 2 columns at SM, 3 columns at MD and 4 columns at LG (and wider).</p>

    <div class="container">
        <h3>1. Start with behaviour at XS</h3>
        <div class="block">[1] <code><b>block</b></code></div>
        <div class="block">[2] <code><b>block</b></code></div>
        <div class="block">[3] <code><b>block</b></code></div>
        <div class="block">[4] <code><b>block</b></code></div>
        <div class="block">[5] <code><b>block</b></code></div>
        <div class="block">[6] <code><b>block</b></code></div>
        <div class="block">[7] <code><b>block</b></code></div>
        <div class="block">[8] <code><b>block</b></code></div>
    </div>

    <div class="container">
        <h3>2. Change behaviour for SM</h3>
        <div class="block sm-c6">[1] <code>block <b>sm-c6</b></code></div>
        <div class="block sm-c6">[2] <code>block <b>sm-c6</b></code></div>
        <div class="block sm-c6">[3] <code>block <b>sm-c6</b></code></div>
        <div class="block sm-c6">[4] <code>block <b>sm-c6</b></code></div>
        <div class="block sm-c6">[5] <code>block <b>sm-c6</b></code></div>
        <div class="block sm-c6">[6] <code>block <b>sm-c6</b></code></div>
        <div class="block sm-c6">[7] <code>block <b>sm-c6</b></code></div>
        <div class="block sm-c6">[8] <code>block <b>sm-c6</b></code></div>
    </div>

    <div class="container">
        <h3>3. Add clears for SM</h3>
        <p>2 column layout at SM needs a clear every second block.</p>
        <div class="block sm-c6 clear-all">[1] <code>block sm-c6 <b>clear-all</b></code></div>
        <div class="block sm-c6">[2] <code>block sm-c6</code></div>
        <div class="block sm-c6 clear-sm">[3] <code>block sm-c6 <b>clear-sm</b></code></div>
        <div class="block sm-c6">[4] <code>block sm-c6</code></div>
        <div class="block sm-c6 clear-sm">[5] <code>block sm-c6 <b>clear-sm</b></code></div>
        <div class="block sm-c6">[6] <code>block sm-c6</code></div>
        <div class="block sm-c6 clear-sm">[7] <code>block sm-c6 <b>clear-sm</b></code></div>
        <div class="block sm-c6">[8] <code>block sm-c6</code></div>
    </div>

    <div class="container">
        <h3>4. Change behaviour for MD</h3>
        <p>Keep the behaviour classes together to make it easier to understand.</p>
        <div class="block sm-c6 md-c4 clear-all">[1] <code>block sm-c6 <b>md-c4</b> clear-all</code></div>
        <div class="block sm-c6 md-c4">[2] <code>block sm-c6 <b>md-c4</b></code></div>
        <div class="block sm-c6 md-c4 clear-sm">[3] <code>block sm-c6 <b>md-c4</b> clear-sm</code></div>
        <div class="block sm-c6 md-c4">[4] <code>block sm-c6 <b>md-c4</b></code></div>
        <div class="block sm-c6 md-c4 clear-sm">[5] <code>block sm-c6 <b>md-c4</b> clear-sm</code></div>
        <div class="block sm-c6 md-c4">[6] <code>block sm-c6 <b>md-c4</b></code></div>
        <div class="block sm-c6 md-c4 clear-sm">[7] <code>block sm-c6 <b>md-c4</b> clear-sm</code></div>
        <div class="block sm-c6 md-c4">[8] <code>block sm-c6 <b>md-c4</b></code></div>
    </div>

    <div class="container">
        <h3>5. Add clears for MD</h3>
        <p>3 column layout at MD needs a clear every third block.</p>
        <div class="block sm-c6 md-c4 clear-all">[1] <code>block sm-c6 md-c4 clear-all</code></div>
        <div class="block sm-c6 md-c4">[2] <code>block sm-c6 md-c4</code></div>
        <div class="block sm-c6 md-c4 clear-sm">[3] <code>block sm-c6 md-c4 clear-sm</code></div>
        <div class="block sm-c6 md-c4 clear-md">[4] <code>block sm-c6 md-c4 <b>clear-md</b></code></div>
        <div class="block sm-c6 md-c4 clear-sm">[5] <code>block sm-c6 md-c4 clear-sm</code></div>
        <div class="block sm-c6 md-c4">[6] <code>block sm-c6 md-c4</code></div>
        <div class="block sm-c6 md-c4 clear-sm clear-md">[7] <code>block sm-c6 md-c4 clear-sm <b>clear-md</b></code></div>
        <div class="block sm-c6 md-c4">[8] <code>block sm-c6 md-c4</code></div>
    </div>

    <div class="container">
        <h3>6. Change behaviour for LG</h3>
        <p>Again, keep the behaviour classes together to make it easier to understand.</p>
        <div class="block sm-c6 md-c4 lg-c3 clear-all">[1] <code>block sm-c6 md-c4 <b>lg-c3</b> clear-all</code></div>
        <div class="block sm-c6 md-c4 lg-c3">[2] <code>block sm-c6 md-c4 <b>lg-c3</b></code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-sm">[3] <code>block sm-c6 md-c4 <b>lg-c3</b> clear-sm</code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-md">[4] <code>block sm-c6 md-c4 <b>lg-c3</b> clear-md</code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-sm">[5] <code>block sm-c6 md-c4 <b>lg-c3</b> clear-sm</code></div>
        <div class="block sm-c6 md-c4 lg-c3">[6] <code>block sm-c6 md-c4 <b>lg-c3</b></code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-sm clear-md">[7] <code>block sm-c6 md-c4 <b>lg-c3</b> clear-sm clear-md</code></div>
        <div class="block sm-c6 md-c4 lg-c3">[8] <code>block sm-c6 md-c4 <b>lg-c3</b></code></div>
    </div>

    <div class="container">
        <h3>7. Add clears for LG (and wider)</h3>
        <p>4 column layout at LG needs a clear every fourth block. Note the "-up" suffix to apply this clear at wider layout breaks as well.</p>
        <div class="block sm-c6 md-c4 lg-c3 clear-all">[1] <code>block sm-c6 md-c4 lg-c3 clear-all</code></div>
        <div class="block sm-c6 md-c4 lg-c3">[2] <code>block sm-c6 md-c4 lg-c3</code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-sm">[3] <code>block sm-c6 md-c4 lg-c3 clear-sm</code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-md">[4] <code>block sm-c6 md-c4 lg-c3 clear-md</code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-sm clear-lg-up">[5] <code>block sm-c6 md-c4 lg-c3 clear-sm <b>clear-lg-up</b></code></div>
        <div class="block sm-c6 md-c4 lg-c3">[6] <code>block sm-c6 md-c4 lg-c3</code></div>
        <div class="block sm-c6 md-c4 lg-c3 clear-sm clear-md">[7] <code>block sm-c6 md-c4 lg-c3 clear-sm clear-md</code></div>
        <div class="block sm-c6 md-c4 lg-c3">[8] <code>block sm-c6 md-c4 lg-c3</code></div>
    </div>


</div>


{% endblock %}