---
id: "style_layout_sm"
name: "SM+ layout options"
---

{% extends "_layouts/framework.njk" %}


{% block content %}

<h1>{{ name }}</h1>

<div class="row">

  <h2>Blocks</h2>

  <div class="container">
    <h3>Blocks available</h3>
    <div class="block sm-c4 clear-all"><code>block <b>sm-c4</b></code></div>
    <div class="block sm-c6 clear-all"><code>block <b>sm-c6</b></code></div>
    <div class="block sm-c8 clear-all"><code>block <b>sm-c8</b></code></div>
    <div class="block clear-all"><code>block</code></div>
  </div>


  <div class="container">
    <h3>Combinations (2-col)</h3>

    <div class="block sm-c4 clear-all">[1] <code>block sm-c4</code></div>
    <div class="block sm-c8">[2] <code>block sm-c8</code></div>

    <div class="block sm-c6 clear-all">[1] <code>block sm-c6</code></div>
    <div class="block sm-c6">[2] <code>block sm-c6</code></div>

    <div class="block sm-c8 clear-all">[1] <code>block sm-c8</code></div>
    <div class="block sm-c4">[2] <code>block sm-c4</code></div>

    <h3>Combinations (3-col)</h3>

    <div class="block sm-c4 clear-all">[1] <code>block sm-c4</code></div>
    <div class="block sm-c4">[2] <code>block sm-c4</code></div>
    <div class="block sm-c4">[3] <code>block sm-c4</code></div>


    <h3>Switching order</h3>
    <div class="block sm-c4 sm-switch">[1] <code>block sm-c4 <b>sm-switch</b></code></div>
    <div class="block sm-c8 sm-switch">[2] <code>block sm-c8 <b>sm-switch</b></code></div>


  </div>



  <h2>Inset</h2>

  <div class="container">
    <div class="block">
      <div class="inset sm-c6">[1] <code><b>inset</b> <b>sm-c6</b></code></div>
      <p>[2] <code>block</code> Morbi accumsan pharetra neque a molestie. Mauris nulla arcu, euismod vel faucibus nec, tristique nec eros. Nulla vulputate, nisl blandit varius auctor, ante diam fermentum ipsum, sit amet tincidunt sem libero et velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus lorem, consectetur eget dignissim a, condimentum euismod lectus. Morbi eu erat dapibus eros fringilla elementum ut in nunc. Maecenas facilisis sapien ac sem ornare interdum. In a lectus sem. Quisque consectetur ipsum et libero eleifend consectetur.</p>
    </div>
  </div>

  <div class="container">
    <div class="block">
      <div class="inset sm-c4">[1] <code><b>inset</b> <b>sm-c4</b></code></div>
      <p>[2] <code>block</code> Morbi accumsan pharetra neque a molestie. Mauris nulla arcu, euismod vel faucibus nec, tristique nec eros. Nulla vulputate, nisl blandit varius auctor, ante diam fermentum ipsum, sit amet tincidunt sem libero et velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus lorem, consectetur eget dignissim a, condimentum euismod lectus. Morbi eu erat dapibus eros fringilla elementum ut in nunc. Maecenas facilisis sapien ac sem ornare interdum. In a lectus sem. Quisque consectetur ipsum et libero eleifend consectetur.</p>
    </div>
  </div>

  <h2>Offset</h2>

  <div class="container">
    <p>Offsets can be c2, c3 or c4</p>
    <div class="block sm-c4 sm-offset-c4 clear-all"><code>block sm-c4 <b>offset-c4</b></code></div>
    
    <div class="block sm-c6 sm-offset-c3 clear-all"><code>block sm-c6 <b>offset-c3</b></code></div>

    <div class="block sm-c8 sm-offset-c2 clear-all"><code>block sm-c8 <b>offset-c2</b></code></div>

    <div class="block sm-c4 sm-offset-c2 clear-all"><code>block sm-c4 <b>offset-c2</b></code></div>
    <div class="block sm-c4"><code>block sm-c4</code></div>

  </div>

</div>

{% endblock %}