---
id: "home"
name: "Home"
displayName: "This is how the main page heading is written out in HTML"
title: "This is added as a title attribute on links to this page"
browserTitle: "This appears in the browser title"
description: "This is a meta description"
showSiteNav: true
---

{% extends "_layouts/layout.njk" %}


{% block content %}

<h1>Flag base platform</h1>

{% endblock %}